%h2 Your Projects

%ul
  - @projects.each do |project|
    %li
      = project.project_name
      = link_to('Current Hand', current_hand_project_path(project.project_id))
      = '|'
      = link_to('All Stories', project_path(project.project_id))

